@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('/webfonts/lane/lane.eot');
    src: url('/webfonts/lane/lane.eot?#iefix') format('embedded-opentype'),
         url('/webfonts/lane/lane.woff') format('woff'),
         url('/webfonts/lane/lane.ttf') format('truetype'),
         url('/webfonts/lane/lane.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css?family=Alegreya:400,800');

body{font-family: 'Open Sans', sans serif; font-size: 0.9em;}
nav{font-family:'lane_-_narrowregular';font-weight: 800;font-size:1.2em;}
h1,h2,h3,h4,form,q{font-family: 'lane_-_narrowregular', serif;letter-spacing:1px;}
h1{font-size: 4em;}
h2{margin: 1em 0 1em 0; border-bottom: 1px solid #FFB90D; padding-bottom: 0.3em;}
h3{margin: 1em 0 1em 0; font-size: 1.4em;font-weight: 800;}
h3.deco{text-decoration: underline #FFB90D; padding: 0.5em;}
h4{font-size: 1.2em; font-weight: 800; padding-top: 0.5em;}
img{margin-bottom: 0.5em;}
footer img,nav img, .web img{margin: 0;}
ul{list-style-type: square;}
b{font-weight: 600;}
a, a:hover{color:#FFB90D;}
.margin{margin-bottom: 2em;}
.align{margin: 0 auto;}

.header{background: url(img/header/4.jpg) no-repeat fixed center; }

.aboutus p{text-indent: 0.7em;}

li.dropdown:hover > .dropdown-menu {display: block;}
.dropdown-menu{border:none;}
.dropdown-item.active, .dropdown-item:active{background-color:#f8f9fa;color:black!important;}
.navbar-brand{text-transform:uppercase;}

.title{
	display: block;
	font-family: "lane_-_narrowregular";
	font-size: 2em;
	margin: 2em 0 3em 0;
}

blockquote,.intro{
	font-size: 1.1em;
	text-indent: 1em;
	color:#c8910a;
	font-style: italic;
	font-weight: 600;
}

.nav-pills .nav-link{
	color:#c8910a;
	font-family: 'lane_-_narrowregular';
	font-weight: 800;
	border:none;
	font-size: 1.1em;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
	background-color: white;
	color: rgba(0,0,0,.9);
}

#myTabContent{
	margin: 2em 0 2em;
}

.box{border-right:solid 1px #FFB90D;}

.separate{
	background-color: #3b3f55;
	height: auto;
	color: #fff;
	text-align: center;
	font-size: 1.5em;
	vertical-align: middle;
	padding: 0.6em;
	margin: 1em 0 1em 0;
}

.package{
	height: auto;
	line-height: 2em;
	vertical-align: middle;
	padding: 2em 2em 2em 2em;
	border:solid 1px #FFB90D;
}

.address p{
	display: block;
	padding: 0;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	font-size: 0.9em;
}

.web-contact a{
	color: rgba(0,0,0,.9);
	font-family: 'lane_-_narrowregular';
	font-weight: 800;
}

.form-control:focus, select .custom-select:focus{
	border:1px solid #B2B8BD;
	box-shadow: none;
}

.btn-action{
	background-color: #FFB90D;
	border-color: #FFB90D;
	border:none;
	padding: 0.6em 0.9em 0.6em 0.9em;
	color: white;
	border-radius: 5px;
	font-family: 'Open Sans';
}

a.btn-action{
	margin-top: 2em;
}

a.btn-action:hover{
	background-color: #FFC026;
	color: #fff;
	text-decoration: none;
}

/*.btn-action:hover, .btn-action:target, .btn-action:active, .btn-action:visited{
	background-color: #DA9E0B;
	border-color: #DA9E0B;
}*/

footer{
	height: auto;
	margin-top: 2em;
}

footer ul{
	list-style: none;
}

footer ul li, footer a, footer a#mail{
	line-height: 0.5em;
	display: inline-block;
	padding-top: 0.9em;
	font-family: 'lane_-_narrowregular';
	font-weight: 800;
	color:rgba(0,0,0,.9);
}

footer a:hover, footer ul li:hover{text-decoration:underline; color:rgba(0,0,0,.9);}

footer a.web{margin:0.5em 0 0.5em;}

@media screen and (max-width: 991px) {
  nav button:focus{outline: none;}
  .hide{display: none;}
  .box{border: none;}
  .resize{width: 50%; margin: 0 auto;}
  .center{margin-left: 5em;}
  .dropdown-menu {display: block;}
  footer{text-align: center;}
}